body {
    background: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(3, 34, 51);
    text-align: center;
}
.projects { 
    display:flex; 
    flex-wrap:wrap; 
}
.project1 {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: pink;
    border-radius: 25%;
    text-align: center;
}
.project1 img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(126, 14, 201); /* choose a color */
    display: block;
    margin: auto;
    }
    